@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 2rem;
    grid-gap: 7rem; /*why grid gap not working */
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.img img {
    width: 500px;
}

.avatar {
    width: 100px;
}

form {
    width: 360px;
}

form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: black;
}

.input-div {
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid black;
}

.input-div.one {
    margin-top: 0;
}

.input-div.two {
    margin-bottom: 5px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.input-div div {
    position: relative;
    height: 45px;
}

.input-div > div h5 {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 10px;
    color: grey;
    transition: 0.3s;
    display: none;
    transform: translateY(-50%);
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background:none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: grey;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover {
    color: blue;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border:none;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: .3s;
    background-size: 200%;
    text-transform: uppercase;
}

.btn:hover {
    background-position: right;
}

@media screen and (max-width: 1050px) {
    .container {
        gap: 5rem;       /*why grid gap not working */  
    }
}